<div id="st-container" class="st-container">

  <nav class="st-menu st-effect-1" id="menu-1">
    <!-- sidebar content -->
  </nav>


  <div class="st-pusher" >
    <md-toolbar class="toolbar" color="primary">
      <md-icon>menu</md-icon>

      <span class="example-spacer"></span>
      <app-current-user class="user"></app-current-user>

    </md-toolbar>
    
    
    <div class="st-content">
      <!-- this is the wrapper for the content -->
      <div class="st-content-inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

