* {
  margin:0;
  padding:0;
  font-family:"Helvetica Neue", Helvetica, Sans-serif;
  word-spacing:-2px;
}

.toolbar{
	position: absolute; z-index: 10;
	background-color: #ff3111;
	-webkit-box-shadow: 6px 7px 5px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 6px 7px 5px -4px rgba(0,0,0,0.25);
  box-shadow: 6px 7px 5px -4px rgba(0,0,0,0.25);
}

.menu-btn{
	cursor: pointer;
	color: #FFF;
}

.example-spacer{
    width: 100%;
}

.user {
    display:block;
    float: right;
}

h1 {
  font-size:40px;
  font-weight:bold;
  color:#191919;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight:normal;
  font-size:20px;
  color:#888;
  padding:5px 0;
}
.nav-menu-login {
  background: #333; /* For browsers that do not support gradients */
  color:#FFF;
  position: absolute; z-index: 5;
  margin-top: 55px;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 20px;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  display:none;
}
#toggleLogin:checked ~ .nav-menu-login {
	float: right;
	/*margin-right: -350px;*/
  display:block;
  position: absolute;
	right:0px;
}

.nav-menu {
  background: #ff3111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left right, #ff3111, #ff5131); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #ff3111, #ff5131); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #ff3111, #ff5131); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #ff3111, #ff5131); /* Standard syntax */
  color:#FFF;
  position: absolute; z-index: 4;
  margin-left: -350px;
  margin-top: 55px;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 20px;
  transition: margin-left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
}

/*.nav-menu h1 {
  color:#FFF;
}*/

#toggle, #toggleLogin {
	
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position: absolute; z-index: 20;
  cursor:pointer;
  padding:10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height:20px;
  font-size:12px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin:20px 50px;
  transition:all 500ms ease;
}
#toggle + label:after {
  content:"Open" 
}

.container {
  transition: margin-left 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:5em 3em;
}

#toggle:checked ~ .nav-menu {
  margin-left: 0;
}

#toggle:checked ~ .container {
  margin-left: 350px;
    overflow: show;
}

#toggle:checked + label {
  background:#dd6149;
}

#toggle:checked + label:after {
  content:"Close";
}

