<div id="user-container">

  <div *ngIf="userConnected" 
  [style.background-image]="profilePictUrl" 
  [mdTooltip]="userName" 
  [mdMenuTriggerFor]="menu" 
  id="user-pic"></div>
  <md-menu #menu="mdMenu" positionY="50">
    <button md-menu-item (click)="signOut()">
      <md-icon>login</md-icon>
      <span>logout</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>voicemail</md-icon>
      <span>Check voicemail</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>


  <div *ngIf="!userConnected">
    <button md-menu-item (click)="signIn()">
      <md-icon>login</md-icon>
      <span>login</span>
    </button>
  </div>

</div>