<md-card class="example-form" *ngIf="post">
  <md-card-header>
    <md-card-title><h2>{{post.title}}</h2></md-card-title>
    <md-card-subtitle>{{post.authorName}}</md-card-subtitle>
  </md-card-header>

<!--<div class="loader">Loading...</div>-->
  <md-card-content *ngIf="post">
      <div class="loader">loader...</div>
      <img class="md-image-card" src="{{post.imageUrl | firebaseUrl : otherTitle | async}}">
  </md-card-content>

  <md-card-content *ngIf="post && post.content">
    <div id="divContent" #divContent [innerHTML]="post.content" highlight-js-content=".highlight"></div>
     <button md-raised-button [routerLink]="[ '/blog/posts']"><md-icon>comment</md-icon> Comments</button>
  </md-card-content>

  

  <md-card-actions>
    <button md-raised-button [routerLink]="[ '/blog/posts']"><md-icon>list</md-icon> Return to posts liste</button>
    <button md-button [routerLink]="[ '/blog/edit-post', post.$key]" color="primary"><md-icon>create</md-icon> Edit</button>
  </md-card-actions>

</md-card>