<div class="example-form">
  <md-card class="example-form">
    <form #formData='ngForm'>

    <md-input-container class="example-full-width">
      <input mdInput placeholder="Title" 
      [ngModel]="item?.title"  name="title" required>
    </md-input-container>


    <ckeditor
      [ngModel]="item?.content" 
      name="content"
      debounce="500">
    </ckeditor>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="cols" [ngModel]="item?.cols" name="cols">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="rows" [ngModel]="item?.rows" name="rows">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
          <input mdInput #color maxlength="7" placeholder="color" [ngModel]="item?.color" name="color">
            <!--<md-hint ngIf="color" align="end">{{color.value.length}} / 7</md-hint>-->
          </md-input-container>
        </td>
      </tr>
    </table>

    <div *ngIf="item">
      <span *ngIf="item.authorName">Author: {{item.authorName}}</span>
      <span *ngIf="item.date">Create: {{item.date | date: 'dd/MM/yyyy'}}</span>
      <span *ngIf="item.maj">Màj: {{item.maj | date: 'dd/MM/yyyy'}}</span>
    </div>
      
      <span *ngIf="auth && !item">author: {{auth.auth.displayName}}</span>
        <md-card-actions>
          <!--<button md-button>LIKE</button>-->
          <button md-raised-button [routerLink]="[ '/blog/posts']">Return to posts liste</button>
      <button md-button type="submit" color="primary" 
      (click)="onUpdate(formData)">{{label}}</button>
      </md-card-actions>

    </form>
  </md-card>


</div>
