<div class="container" fxLayout="row" fxLayoutAlign="start">
    <form #formData='ngForm'>



  <md-card class="widgets-row"
 fxLayout
 fxLayout.xs="column"
 fxLayoutAlign="start"
 fxLayoutWrap="wrap">

    <md-input-container class="example-full-width" fxFlex="100%">
      <h2><input mdInput placeholder="Title" [ngModel]="post?.title" name="title" required></h2>
    </md-input-container>

    <ckeditor [ngModel]="post?.content" name="content" debounce="500" fxFlex="100%">
    </ckeditor>
    <br>

    <!-- Post description section -->

    <br>
    <div *ngIf="post">
      <span *ngIf="post.authorName"><md-icon>account circle</md-icon>Author: {{post.authorName}}</span>
      <span *ngIf="post.date"><md-icon>date range</md-icon>Create: {{post.date | date: 'dd/MM/yyyy'}}</span>
      <span *ngIf="post.maj"><md-icon>event</md-icon>Màj: {{post.maj | date: 'dd/MM/yyyy'}}</span>
    </div>

    <span *ngIf="auth && !post">author: {{auth.auth.displayName}}</span>

    <md-card-actions>
      <!--<button md-button>LIKE</button>-->
      <button md-raised-button [routerLink]="[ '/blog/posts']">
          <md-icon>list</md-icon>
          Return to posts liste
        </button>
      <button *ngIf="post" md-raised-button [routerLink]="[ '/blog/post', post?.$key]">
          <md-icon>visibility</md-icon> View post</button>
      <button md-raised-button type="submit" class="btn-primary" (click)="onUpdate(formData)"><md-icon>save</md-icon> Save</button>
      <button md-raised-button type="submit" class="btn-danger" (click)="onDelete()"><md-icon>delete</md-icon> Delete</button>
    </md-card-actions>
  </md-card>

    <md-card  class="widgets-row"
 fxLayout
 fxLayout.xs="column"
 fxLayoutAlign="start"
 fxLayoutWrap="wrap">
      <md-card-content fxFlex="30%">
        <table class="example-full-width" cellspacing="0" style="background-color: #EEEEFF; box-shadow: 2px 2px 5px #999;">
          <tr>
            <td style="width: 60px">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="cols" [ngModel]="post?.cols" name="cols">
              </md-input-container>
            </td>
            <td style="width: 60px">
              <md-input-container class="example-full-width">
                <input mdInput placeholder="rows" [ngModel]="post?.rows" name="rows">
              </md-input-container>
            </td>
            <td style="width: 120px">
              <md-input-container class="example-full-width">
                <input mdInput #color maxlength="7" placeholder="color" [ngModel]="post?.color" name="color">
                <!--<md-hint ngIf="color" align="end">{{color.value.length}} / 7</md-hint>-->
              </md-input-container>
            </td>
          </tr>
        </table>
      </md-card-content>
      <md-card-content *ngIf="post">
        <img *ngIf="post.imageUrl" md-card-image src="{{post.imageUrl | firebaseUrl : otherTitle | async}}" class="md-card-image">
        <input #filePicker placeholder="Title" type="file" accept="image/*,capture=camera">
        <button md-raised-button title="Add an image" type="submit" class="btn-primary" (click)="saveImage(filePicker)">
        <md-icon>save</md-icon> Add a image</button>
      </md-card-content>
  </md-card>

  </form>
</div>