<div fxLayout fxLayout="row" fxLayoutWrap="wrap-reverse" fxLayoutAlign="start stretch" fxFlex="100%">

  <md-card class="widget-sm" fxLayoutGap="9px" fxFlex="1 3 calc(20em + 20px)" *ngFor="let post of posts  | async" [routerLink]="[ '/blog/post', post.$key]">

    <md-card-header>
      <md-card-title>{{post.title}}</md-card-title>
      <md-card-subtitle>{{post.authorName}}</md-card-subtitle>
    </md-card-header>

    <md-card-content md-card-image *ngIf="post && post.imageUrl && post.color" [style.background-color]="post.color">
      <img class="md-image-card" src="{{post.imageUrl | firebaseUrl : otherTitle | async}}">
    </md-card-content>

    <md-card-actions>
      <button md-button [routerLink]="[ '/blog/edit-post', post.$key]" color="primary"><md-icon>create</md-icon> Edit</button>
    </md-card-actions>

  </md-card>
</div>

<a md-fab [routerLink]="[ '/blog/edit-post']">
  <md-icon>edit</md-icon>
</a>